/* popup.html */
body {
	min-width:250px;
}

div#user-details-container {
	padding:0 10px 0 10px;
}

form#user-details {
	margin-left:auto;
	margin-right:auto;
}

div#error-message {
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
}

div#pages-loading {
	text-align:center;
	padding:5px 0 5px 0;
}

form#filter {
	margin:18px 0 0 5px;
}

a#login {
	display:block;
}

div#quick-reminder {
	padding-left:10px;
}

#ui-datepicker-div
{
	margin-top:33px;
}

div.ui-datepicker{
 font-size:12px;
}

div#human-date
{
	margin:12px 0 6px 0;
}

span.time-text {
	font-size:30px;
}

span#reminder-loading, span#reminder-success {
	display:none;
	position:relative;
	top:-5px;
}

/* options.html */
header
{
	height:30px;
	background:#ccc;
	text-align:center;
	padding:12px;
}

#options-form
{
	width:600px;
	margin:auto;
	padding:12px 0 0 0;
}

span#save-success {
	display:none;
}