/* popup.html */
body {
	min-width:250px;
	overflow-x:hidden;
	font-family:'Lucida Grande', verdana, sans-serif;
	font-size:12px;
	background:#fff;
	margin:0;
	padding:0 0 0 6px;
}

body *
{
	margin:0;
	padding:0;
}

body a
{
	color:#06c;
}

label
{
	display:block;
}

input[type='text']
{
	-webkit-border-radius:3px;
}

#username
{
	margin-bottom:6px;
}

#save
{
	margin:6px 0 6px 0;
}

#topLinks
{
	border-bottom:1px solid #06c;
}

#topLinks, #pageContainer
{
	width:230px;
}

#loading
{
	text-align:center;
	padding-top:6px;
}

#login
{
	font-size:18px;
	text-align:center;
}

#filterForm
{
	margin:12px 0 6px 0;
}

#main ul
{
	color:#06c;
	text-decoration:underline;
}

#main ul > li
{
	list-style-type:none;
	cursor:pointer;
	margin:12px 0 12px 0;
}

#addReminder
{
	float:right;
	margin-right:18px;
	height:36px;
	width:72px;
	background:#edf3fe;
	text-align:center;
}

#reminderForm
{
	width:450px;
}

#reminderForm > p
{
	font-size:18px;
}

#remindAt
{
	margin-bottom:6px;
}

#reminderText
{
	display:block;
	clear:right;
	margin:0 12px 12px 0;
	font-size:20px;
	width:370px;
}

#setReminder
{
	margin-left:12px;
}

.loadingReminder, .successReminder
{
	position:absolute;
	left:400px;
	top:12px;
}

#back
{
	position:absolute;
	bottom:0;
	left:380px;
}

#ui-datepicker-div
{
	margin-top:25px;
}

p#humanDate
{
	display:none;
	margin:6px 0 12px 0;
	font-size:12px;
}

.error
{
	background-color:#ff6600;
	color:#eee;
}

/* options.html */
header
{
	height:30px;
	background:#edf3fe;
	text-align:center;
	padding:12px;
}

#optionsForm
{
	width:50%;
	margin:auto;
	padding:12px 0 0 0;
}

#optionsForm > label
{
	font-size:18px;
}

#optionsForm > input
{
	font-size:18px;
	margin-bottom:12px;
}

#save
{
	margin:18px 12px 0 0;
}

#optionsForm > #success
{
	float:right;
	margin:8px 590px 0 0;
}